streamlit==1.35.0
keras==2.15.0
tensorflow==2.15.0
numpy>=1.23
pandas
Pillow>=9.0
matplotlib
scikit-learn
deep_translator
requests
pyttsx3
openai
fpdf
qrcode
opencv-python
streamlit-mic-recorder
streamlit-webrtc
openai-whisper
